// @import url("../../utils/scss/_mixins.module.scss");
// @import url("../../utils/scss/_variable.module.scss");
.home-container {
  .hero-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    // background: linear-gradient(45deg, #a166ff, #66b3ff, #f28cff);
    height: 93dvh;

    .hero-content-section {
      .head {
        h1 {
          font-size: 3rem;
          //   color: #fff;
          background: linear-gradient(45deg, #8c33ff, #0098ff, #ce00ff);
          -webkit-background-clip: text;
          color: transparent;
          font-weight: 600;
        }
      }
      .head-text {
        font-size: 1.2rem;
        line-height: normal;
        padding: 10px;
      }
      .action-center {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
        // justify-content: space-evenly;
        .primary-button {
          background-color: #2f96fa !important;
          border-radius: 10px;
          text-transform: none !important;
          padding: 15px 10px;
          color: #fff;
          width: 200px !important;
          &:disabled {
            background-color: #a5a5a5 !important;
            color: #fff !important;
          }
        }
        .secondary-button {
          border: 1px solid #2f96fa;
          color: #2f96fa;
          border-radius: 10px;
          text-transform: none !important;
          padding: 15px 10px;
          width: 200px !important;

          &:disabled {
            background-color: #a5a5a5 !important;
            color: #fff !important;
            border: 1px solid #a5a5a5;
          }
        }
      }
    }
    .hero-img-section {
      margin: 0 auto;
      position: relative;
      > div {
        position: unset !important;
      }
      .image {
        width: 592px !important;
        position: relative !important;
        height: 624px !important;
        border-radius: 50px;
      }
    }
  }
  .wu-container {
    padding: 20px;
    margin-top: 50px;
    h2 {
      text-align: center;
      font-size: 2.5rem;
      color: #36007c;
      font-weight: 800;
    }
    .info-boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 50px;
    }
  }
}
