.info-container {
  //   width: 300px;
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 20px;
  background-color: #6d0088;
  height: 250px;
  .img {
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      border-radius: 10px !important;
    }
  }

  h3 {
    color: #fff;
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid gray;
    padding: 5px;
  }
  p {
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
  }
}
