$text-color-dark-grey: #2d2d2d;
$text-color-black: #000;
$text-color-white: #fff;
$text-color-grey: #7c7c7c;
$primary-p-50: #e8efff;
$primary-p-75: #9fbcff;
$primary-p-100: #78a0ff;
$primary-p-200: #3e77ff;
$primary-base-color: #165bff;
$primary-p-400: #0f40b3;
$primary-p-500: #0d389c;
$secondary-s-50: #eaf5ff;
$secondary-s-75: #aad4fd;
$secondary-s-100: #86c2fc;
$secondary-s-200: #52a8fb;
$secondary-base-color: #2f96fa;
$secondary-s-400: #2169af;
$logo-color-lb: #47b1f8;
$secondary-s-500: #1d5c99;
$logo-color-lg: #67dbf6;
$neutrals-n-0: #fff;
$logo-color-db: #1f1f63;
$neutrals-n-10: #fbfbfc;
$neutrals-n-30: #ededf3;
$neutrals-n-20: #f6f6f9;
$neutrals-n-40: #e2e2eb;
$neutrals-n-50: #c7c7d8;
$neutrals-n-60: #babacf;
$neutrals-n-70: #aeaec7;
$neutrals-n-80: #a1a1bd;
$neutrals-n-90: #9393b4;
$neutrals-n-100: #8686ab;
$neutrals-n-200: #7979a1;
$neutrals-n-300: #6b6b98;
$neutrals-n-400: #606090;
$neutrals-n-600: #47477f;
$neutrals-n-500: #535387;
$neutrals-n-700: #383874;
$neutrals-n-800: #2a2a6b;
$neutrals-n-900: #1f1f63;
$neutrals-primary-border: #e3e7e8;
$neutrals-secondary-border: #e7e7e7;
$sub-heading-color: #708199;

$secondary-border: #ebedf0;
$gray-shade: #d9d9d9;
$error: #d32f2f;
$online: #38ff38;
$offline: #c6c6c6;
// new variable for v2
$black-color: #000;
$subtitle-color: #585c63;
$dark-blue: #201f63;
$main-color: #2f96fa;
$border-color: #dedede;
$light-blue-color: #f1f6ff;
$light-gray-color: #f1f3f6;
$under-text-subtitle-color: #8b9099;
$under-text-title-color: #585c63;
$white-color: #ffffff;
//Mobile view

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
//wide screen
$xxl: 1440px;
$xxxl: 1920px;
$xxxxl: 2280px;
$xxxxxl: 4320px;

$bottom-bar-height: 100px;
$top-navbar-height: 80px;
$primary-font-family: "Poppins";

// :export {
//   text-color-dark-grey: $text-color-dark-grey;
//   text-color-black: $text-color-black;
//   text-color-white: $text-color-white;
//   text-color-grey: $text-color-grey;
//   primary-p-50: $primary-p-50;
//   primary-p-75: $primary-p-75;
//   primary-p-100: $primary-p-100;
//   primary-p-200: $primary-p-200;
//   primary-base-color: $primary-base-color;
//   primary-p-400: $primary-p-400;
//   primary-p-500: $primary-p-500;
//   secondary-s-50: $secondary-s-50;
//   secondary-s-75: $secondary-s-75;
//   secondary-s-100: $secondary-s-100;
//   secondary-s-200: $secondary-s-200;
//   secondary-base-color: $secondary-base-color;
//   secondary-s-400: $secondary-s-400;
//   logo-color-lb: $logo-color-lb;
//   secondary-s-500: $secondary-s-500;
//   logo-color-lg: $logo-color-lg;
//   neutrals-n-0: $neutrals-n-0;
//   logo-color-db: $logo-color-db;
//   neutrals-n-10: $neutrals-n-10;
//   neutrals-n-30: $neutrals-n-30;
//   neutrals-n-20: $neutrals-n-20;
//   neutrals-n-40: $neutrals-n-40;
//   neutrals-n-50: $neutrals-n-50;
//   neutrals-n-60: $neutrals-n-60;
//   neutrals-n-70: $neutrals-n-70;
//   neutrals-n-80: $neutrals-n-80;
//   neutrals-n-90: $neutrals-n-90;
//   neutrals-n-100: $neutrals-n-100;
//   neutrals-n-200: $neutrals-n-200;
//   neutrals-n-300: $neutrals-n-300;
//   neutrals-n-400: $neutrals-n-400;
//   neutrals-n-600: $neutrals-n-600;
//   neutrals-n-500: $neutrals-n-500;
//   neutrals-n-700: $neutrals-n-700;
//   neutrals-n-800: $neutrals-n-800;
//   neutrals-n-900: $neutrals-n-900;
//   neutrals-primary-border: $neutrals-primary-border;
//   neutrals-secondary-border: $neutrals-secondary-border;
//   primary-font-family: $primary-font-family;
// }
